:root {
    --naranjo : #FF7B54;
    --naranjo-palido :#FFB26B;
    --amarillo  : #FFD56B;
    --verde : #939B62;

    
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


.playpen-sans-uniquifier {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
  /**  color de titulo  **/

 .logo{
    text-decoration: none;
 }
 
  .cristian{ 
   
    color: var(--naranjo);
  }

  .leiva,.card-title{
    color: var(--verde);
  }

  .aran{ 
    color: var(--naranjo);
  }
 .descripcion{

    color: var(--verde);
 }

 .titulos { 
      color: var(--naranjo-palido);

 }
 .card-text{
  color: var(--verde);
 }
  /** color fondo **/ 

  .backmenu{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 11%, rgba(255,178,107,1) 100%); 
    
  }
 
   /** color button  **/ 
   .nav-link:hover{
color: var(--naranjo);

   }
   
   .btn {
   
    color: var(--amarillo);
    background-color: var(--verde);   }

    body {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(255,213,107,0.3617822128851541) 100%);
    }

